div.farslides {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

ul.slides {
    position: relative;
    width: 600px;
    height: 280px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow: hidden;  /*突出的第二和第三张轮播图隐藏*/
    max-width: 100%;
}

li.slide {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica; /*放大字体*/
    font-size: 20px; /*放大字体*/
    color: #fff;  /*白色字体*/
    word-wrap: break-word;
    transition: .5s transform ease-in-out;

}


/*轮播图 1*/
.slide:nth-of-type(1) {
    /* background-image: none; */
    background-color: #f2e205;
}

/*轮播图 2*/
.slide:nth-of-type(2) {
    background-color: #f25C05;
    left: 100%;
}

/*轮播图 3*/
.slide:nth-of-type(3) {
    background-color: #495F85;
    left: 200%;
}

/* 按钮*/
input[type="radio"] {
    position: relative;
    z-index: 100;
    display: none;
}

.controls-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
}

.controls-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;
}

.slides input[type="radio"]:nth-of-type(1):checked ~
.controls-visible label:nth-of-type(1) {
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(2):checked ~
.controls-visible label:nth-of-type(2) {
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(3):checked ~
.controls-visible label:nth-of-type(3) {
    background-color: #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translateX(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translateX(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translateX(-200%);
}


